<template>
  <div id="app">
    <ExternalUsed />
    <SfcUsed />
  </div>
</template>

<script>
import { ExternalUsed, SfcUsed } from './components';

export default {
  name: 'App',
  components: {
    ExternalUsed,
    SfcUsed,
  },
};
</script>
